@charset "UTF-8";

/* Typical Devices Breakpoints
------------------------------
Pequenas telas até 600px
Celular de 600px até 768px
Tablet de 768px até 992px
Desktop de 992px até 1200px
Grandes telas acima de 1200px 
*/


@media screen and (max-width: 768px) {
    section#login > div#formulario > p {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/fundo9.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    section#login {
        width: 80vw;
        height: 280px;

    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: url('../imagens/fundo9.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    
    section#login {
        width: 950px;
        height: 400px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%; /*Lembrar de modificar aqui para 50%*/
        height: 100%;
    }

    section#login > section#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin: 20px 0px;
    }

    div.campo > input {
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        width: 44.2%;
        height: 95%;
        border: 1px solid #758918;
        border-radius: 10px;
        padding: 2px;
        transform: translateY(-10.5px);
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        font-weight: bold;
        width: 49%;
        height: 40px;
        background-color: #758918;
        color: #ffff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        width: 49%;
        height: 40px;
        padding-top: 7px;
        margin-top: 5px;
        background-color: #ffff;
        border-radius: 10px;
        border: 1px solid #758918;
        text-decoration: none;
        color: #3a450d;
    }

}