@charset "UTF-8";





                                  /* CORES*/
/*color:  #cfb590 ; Marrom claro*/
/*color:  #9e9a41 ;  verde claro*/
/*color:  #758918 ; verde medio*/
/*color: #564334 ; Marrom medio escuro*/
/*color:  #49281f ; Marrom escuro*/
 

/* CSS HEX IMAGEM */ 
/*--black-olive: #27271Cff;
--drab-dark-brown: #404326ff;
--black-olive-2: #363523ff;
--drab-dark-brown-2: #2D3119ff;
--chamoisee: #978150ff;*/