@charset "UTF-8";





                                    /* CORES*/
.color1 { #cfb590 };
.color2 { #9e9a41 };
.color3 { #758918 };
.color4 { #564334 };
.color5 { #49281f };

/* CSS HEX IMAGEM */ 
--black-olive: #27271Cff;
--drab-dark-brown: #404326ff;
--black-olive-2: #363523ff;
--drab-dark-brown-2: #2D3119ff;
--chamoisee: #978150ff;